README.md
{{- if ne .chezmoi.os "darwin" }}
Brewfile
{{- else if ne .chezmoi.os "linux" }}
	{{- if ne (index .chezmoi.osRelease "id") "arch" }}
**/i3
**/yay
**/pacman
.[xX]*
.dmrc
	{{- end }}
{{- end }}
