README.md
*.local
{{- if ne .chezmoi.os "darwin" }}
.config/homebrew
{{- end }}
{{- if eq .chezmoi.os "linux" }}
*
{{- end }}

.Xresources
.config/i3
.config/i3status
.config/yay
.config/zellij
.dmrc
.xinitrc
