# encoding=utf-8

verbose: true

git:
  autoAdd: true
  autoCommit: true
  # autoPush: true

# diff:
#   command: "delta"
#   pager: "delta"

merge:
  command: "nvim"
  args: ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

encryption: "age"
age:
  symmetric: true
  identity: "~/.ssh/gh.id_rsa"

{{ if eq .chezmoi.os "darwin" -}}
hooks:
  re-add:
    pre:
      command: "brew"
      args: ["bundle", "dump", "--file", ".config/Brewfile", "--force"]
{{- else if eq .chezmoi.os "linux" -}}
{{ end -}}
