# encoding=utf-8

# sh -c "$(curl -fsLS get.chezmoi.io)" -- init --one-shot $GITHUB_USERNAME

verbose: true

git:
  autoAdd: true
  autoCommit: true
  # autoPush: true

{{- if eq .chezmoi.os "darwin" -}}
hooks:
  add:
    pre:
      - brew bundle dump --file .config/Brewfile --force
{{- else if eq .chezmoi.os "linux" -}}
{{ end -}}
