README.md
*.local
{{- if ne .chezmoi.os "darwin" }}
Brewfile
{{- end }}
{{- if ne .chezmoi.os "linux" }}
{{- if ne (index .chezmoi.osRelease "id") "arch" }}
.config/i3
.config/i3status
.config/yay
.xinitrc
.Xresources
.dmrc
{{- end }}
{{- end }}
