'$schema' = 'https://starship.rs/config-schema.json'
continuation_prompt = '[>](bright-black) '
format = "($status$cmd_duration\n)($directory$git_metrics$git_status$git_branch$git_commit$git_state)$fill($mise$all$shell$localip$username$hostname$time)$line_break($character)"

[aws]
format = '\[[$symbol($profile)(\($region\))(\[$duration\])]($style)\]'
symbol = 'aws '

[azure]
format = '\[[$symbol($subscription)]($style)\]'
symbol = 'az '

[battery]
charging_symbol = 'charging '
discharging_symbol = 'discharging '
empty_symbol = 'empty '
format = '\[[$symbol$percentage]($style)\]'
full_symbol = 'full '
unknown_symbol = 'unknown '

[buf]
format = '\[[$symbol($version)]($style)\]'
symbol = 'buf '

[bun]
format = '\[[$symbol($version)]($style)\]'
symbol = 'bun '

[c]
format = '\[[$symbol($version(-$name))]($style)\]'
symbol = 'C '

[cmake]
format = '\[[$symbol($version)]($style)\]'
symbol = 'cmake '

[cmd_duration]
min_time = 3000
format = '\[[LATENCY $duration]($style)\]'

[cobol]
format = '\[[$symbol($version)]($style)\]'
symbol = 'cobol '

[conda]
format = '\[[$symbol$environment]($style)\]'
symbol = 'conda '

[container]
format = '\[[$symbol \[$name\]]($style)\]'
symbol = 'container '

[cpp]
format = '\[[$symbol($version(-$name))]($style)\]'
symbol = 'C++ '

[crystal]
format = '\[[$symbol($version)]($style)\]'
symbol = 'cr '

[daml]
format = '\[[$symbol($version)]($style)\]'
symbol = 'daml '

[dart]
format = '\[[$symbol($version)]($style)\]'
symbol = 'dart '

[deno]
format = '\[[$symbol($version)]($style)\]'
symbol = 'deno '

[direnv]
format = '\[[$symbol$loaded/$allowed]($style)\]'

[docker_context]
format = '\[[$symbol$context]($style)\]'
symbol = 'docker '

[dotnet]
format = '\[[$symbol($version )(target $tfm )]($style)\]'
symbol = '.NET '

[elixir]
format = '\[[$symbol($version \(OTP $otp_version\))]($style)\]'
symbol = 'exs '

[elm]
format = '\[[$symbol($version)]($style)\]'
symbol = 'elm '

[erlang]
format = '\[[$symbol($version)]($style)\]'
symbol = 'erl '

[fennel]
format = '\[[$symbol($version)]($style)\]'
symbol = 'fnl '

[fill]
style = ""
symbol = " "

[fortran]
format = '\[[$symbol($version)]($style)\]'
symbol = 'fortran '

[fossil_branch]
format = '\[[$symbol$branch]($style)\]'
symbol = 'fossil '
truncation_symbol = '...'

[fossil_metrics]
format = '\[[+$added]($added_style)\]\[[-$deleted]($deleted_style)\]'

[gcloud]
format = '\[[$symbol$account(@$domain)(\($region\))]($style)\]'
symbol = 'gcp '

[git_branch]
disabled = false
format = "[$symbol$branch(:$remote_branch)]($style) "
symbol = ''
truncation_symbol = '...'

[git_commit]
disabled = false
format = '[($tag(\($hash\)))]($style) '
only_detached = false
tag_disabled = false
tag_symbol = ''

[git_metrics]
disabled = false
format = '([A$added]($added_style)[D$deleted]($deleted_style) )'
added_style = 'green'
deleted_style = 'red'

[git_state]
disabled = false
format = '[$state ($progress_current/$progress_total)]($style)'

[git_status]
disabled = false
format = '($stashed )($conflicted$untracked$modified )($staged$renamed$typechanged$deleted )($ahead_behind )'
up_to_date = '[=](bold green)'
diverged = '[$ahead_count<>$behind_count](bold red)'
ahead = '[$count>](bold yellow)'
behind = '[<$count](bold yellow)'
stashed = '[\$$count](bright-black)'
conflicted = '[!$count](red)'
untracked = '[?$count](yellow)'
modified = '[~$count](yellow)'
staged = '[+$count](green)'
renamed = '[r$count](yellow)'
typechanged = '[t$count](red)'
deleted = '[x$count](red)'

[gleam]
format = '\[[$symbol($version)]($style)\]'
symbol = 'gleam '

[golang]
disabled = false
format = '\[[$symbol($version)]($style)\]'
symbol = 'go '

[gradle]
format = '\[[$symbol($version)]($style)\]'
symbol = 'gradle '

[guix_shell]
format = '\[[$symbol]($style)\]'
symbol = 'guix '

[haskell]
format = '\[[$symbol($version)]($style)\]'
symbol = 'haskell '

[haxe]
format = '\[[$symbol($version)]($style)\]'
symbol = 'hx '

[helm]
format = '\[[$symbol($version)]($style)\]'
symbol = 'helm '

[hg_branch]
format = '\[[$symbol$branch]($style)\]'
symbol = 'hg '
truncation_symbol = '...'

[hostname]
# disabled = false
# ssh_only = false
format = '\[[$ssh_symbol($hostname)]($style)\]'
ssh_symbol = 'ssh '

[java]
format = '\[[$symbol($version)]($style)\]'
symbol = 'java '

[jobs]
format = '\[[$symbol$number]($style)\]'
symbol = '*'

[julia]
format = '\[[$symbol($version)]($style)\]'
symbol = 'jl '

[kotlin]
format = '\[[$symbol($version)]($style)\]'
symbol = 'kt '

[kubernetes]
format = '\[[$symbol$context( \($namespace\))]($style)\]'
symbol = 'kubernetes '

[localip]
# disabled = false
# ssh_only = false
format = '\[[$localipv4]($style)\]'
style = 'cyan'

[lua]
format = '\[[$symbol($version)]($style)\]'
symbol = 'lua '

[memory_usage]
format = '\[$symbol[$ram( | $swap)]($style)\]'
symbol = 'memory '

[meson]
format = '\[[$symbol$project]($style)\]'
symbol = 'meson '
truncation_symbol = '...'

[mise]
disabled = false
format = '\[[$symbol( $health)]($style)\]'
symbol = 'mise'
healthy_symbol = ''
unhealthy_symbol = 'unhealthy'

[mojo]
format = '\[[$symbol($version)]($style)\]'
symbol = 'mojo '

[nats]
format = '\[[$symbol$name]($style)\]'
symbol = 'nats '

[netns]
format = '\[[$symbol \[$name\]]($style)\]'
symbol = 'netns '

[nim]
format = '\[[$symbol($version)]($style)\]'
symbol = 'nim '

[nix_shell]
format = '\[[$symbol$state( \($name\))]($style)\]'
symbol = 'nix '

[nodejs]
format = '\[[$symbol($version)]($style)\]'
symbol = 'nodejs '

[ocaml]
format = '\[[$symbol($version)(\($switch_indicator$switch_name\))]($style)\]'
symbol = 'ml '

[odin]
format = '\[[$symbol($version )]($style)\]'
symbol = 'odin '

[opa]
format = '\[[$symbol($version)]($style)\]'
symbol = 'opa '

[openstack]
format = '\[[$symbol$cloud(\($project\))]($style)\]'
symbol = 'openstack '

[os]
format = '\[[$symbol]($style)\]'

[os.symbols]
AIX = 'aix '
ALTLinux = 'alt '
AOSC = 'aosc '
AlmaLinux = 'alma '
Alpaquita = 'alq '
Alpine = 'alp '
Amazon = 'amz '
Android = 'andr '
Arch = 'rch '
Artix = 'atx '
Bluefin = 'blfn '
CachyOS = 'cach '
CentOS = 'cent '
Debian = 'deb '
DragonFly = 'dfbsd '
Elementary = 'elem '
Emscripten = 'emsc '
EndeavourOS = 'ndev '
Fedora = 'fed '
FreeBSD = 'fbsd '
Garuda = 'garu '
Gentoo = 'gent '
HardenedBSD = 'hbsd '
Illumos = 'lum '
InstantOS = 'inst '
Ios = 'ios '
Kali = 'kali '
Linux = 'lnx '
Mabox = 'mbox '
Macos = 'mac '
Manjaro = 'mjo '
Mariner = 'mrn '
MidnightBSD = 'mid '
Mint = 'mint '
NetBSD = 'nbsd '
NixOS = 'nix '
Nobara = 'nbra '
OpenBSD = 'obsd '
OpenCloudOS = 'ocos '
OracleLinux = 'orac '
PikaOS = 'pika '
Pop = 'pop '
Raspbian = 'rasp '
RedHatEnterprise = 'rhel '
Redhat = 'rhl '
Redox = 'redox '
RockyLinux = 'rky '
SUSE = 'suse '
Solus = 'sol '
Ubuntu = 'ubnt '
Ultramarine = 'ultm '
Unknown = 'unk '
Uos = 'uos '
Void = 'void '
Windows = 'win '
Zorin = 'zorn '
openEuler = 'oeul '
openSUSE = 'osuse '

[package]
format = '\[[$symbol$version]($style)\]'
symbol = 'pkg '

[perl]
format = '\[[$symbol($version)]($style)\]'
symbol = 'pl '

[php]
format = '\[[$symbol($version)]($style)\]'
symbol = 'php '

[pijul_channel]
format = '\[[$symbol$channel]($style)\]'
symbol = 'pijul '
truncation_symbol = '...'

[pixi]
format = '\[[$symbol$version( $environment)]($style)\]'
symbol = 'pixi '

[pulumi]
format = '\[[$symbol$stack]($style)\]'
symbol = 'pulumi '

[purescript]
format = '\[[$symbol($version)]($style)\]'
symbol = 'purs '

[python]
disabled = false
format = '\[[${symbol}${pyenv_prefix}(${version})(\($virtualenv\))]($style)\]'
symbol = 'py '

[quarto]
format = '\[[$symbol($version)]($style)\]'
symbol = 'quarto '

[raku]
format = '\[[$symbol($version-$vm_version)]($style)\]'
symbol = 'raku '

[red]
format = '\[[$symbol($version)]($style)\]'
symbol = 'red '

[rlang]
format = '\[[$symbol($version)]($style)\]'
symbol = 'r '

[ruby]
format = '\[[$symbol($version)]($style)\]'
symbol = 'rb '

[rust]
format = '\[[$symbol($version)]($style)\]'
symbol = 'rs '

[scala]
format = '\[[$symbol($version)]($style)\]'
symbol = 'scala '

[shell]
disabled = false
format = '\[[$indicator]($style)\]'
style = 'cyan'

[singularity]
format = '\[[$symbol\[$env\]]($style)\]'

[solidity]
format = '\[[$symbol($version)]($style)\]'
symbol = 'solidity '

[spack]
format = '\[[$symbol$environment]($style)\]'
symbol = 'spack '

[status]
disabled = false
success_symbol = ''
map_symbol = false
recognize_signal_code = true
format = '\[[(($common_meaning )$status)](red)[( (($signal_name )$signal_number))](yellow)\] '
pipestatus = true
pipestatus_separator = "|"
pipestatus_format = '\[$pipestatus => [($common_meaning $status)](bright-red)[($signal_name $signal_number)](red)\] '

[sudo]
disabled = false
format = '\[[as $symbol]($style)\]'
symbol = 'sudo '

[swift]
format = '\[[$symbol($version)]($style)\]'
symbol = 'swift '

[terraform]
format = '\[[$symbol$workspace]($style)\]'
symbol = 'terraform '

[time]
# disabled = false
format = '\[[$time]($style)\]'
style = 'bright-black'

[typst]
format = '\[[$symbol($version)]($style)\]'
symbol = 'typst '

[username]
# disabled = false
# show_always = true
format = '\[[$user]($style)\]'
style_root = 'bold red'
style_user = 'green'

[vagrant]
format = '\[[$symbol($version)]($style)\]'
symbol = 'vagrant '

[vcsh]
format = '\[vcsh [$symbol$repo]($style)\]'

[vlang]
format = '\[[$symbol($version)]($style)\]'

[xmake]
format = '\[[$symbol($version)]($style)\]'
symbol = 'xmake '

[zig]
format = '\[[$symbol($version)]($style)\]'
symbol = 'zig '

[character]
disabled = false
success_symbol = "[#](bright-black)"
error_symbol = "[#](bright-black)"
vimcmd_symbol = '[#](bold green)'
vimcmd_visual_symbol = '[v](bold yellow)'
vimcmd_replace_symbol = '[R](bold purple)'
vimcmd_replace_one_symbol = '[r](bold blue)'

[directory]
disabled = false
read_only = 'RO'
read_only_style = "bold bg:red"
format = "([$read_only]($read_only_style) )[$path]($style) "
repo_root_format = "([$read_only]($read_only_style) )[$before_root_path]($before_repo_root_style)[$repo_root]($repo_root_style)[$path]($style) "
style = "cyan"
before_repo_root_style = "cyan"
repo_root_style = "bold cyan"
truncate_to_repo = false
truncation_symbol = "..."
home_symbol = "~"

[shlvl]
symbol = 'shlvl '
